/**Définition des couleurs**/
$light-color-primary: #9356DC;
$color-primary: #7e49bf;
$light-color-secondary:#FF79DA;
$color-secondary:#d15cb0;
$color-third:#99E2D0;
$police-dark-background: #cec6cc;
$dark: black;
$dark-background:#353535;
$grey-background:#EAEAEA;
$grey-light:#F6F6F6;

/** Les dégradés */
$gradient-purple: linear-gradient($color-secondary,$color-primary);
$light-gradient-purple: linear-gradient($light-color-secondary,$light-color-primary);
$gradient1:linear-gradient(to top, #353535, #423d58, #52437b, #65489e, #7e49bf);
$gradient2:linear-gradient(to top, #353535, #353535, #52437b, #65489e, #7e49bf);
$gradient3:linear-gradient(to top, #353535, #353535, #353535, #65489e, #7e49bf);
$gradient4:linear-gradient(to top, #353535, #353535, #353535, #353535, #7e49bf);

//** Mixins **/
//** Adapter la couleur de la police selon le fond **/
@mixin font-color ($dark-background-font-color: true) {
    @if($dark-background-font-color){
        background-color: $dark-background;
        color: $grey-background;
    }@else{
        background-color: #fff;
        color: $dark;
    }
}

//** Paramétrage ombre cartes et boutons **/
@mixin ombres {
    box-shadow: 3px 3px 10px 3px #d6d4d4;
}
@mixin ombres-dark {
    box-shadow: 3px 3px 10px 3px #a4a4a4;
}
//** Alignement des éléments **/
@mixin ajustement-column ($ajust) {
    display: flex;
    flex: column;
    align-items: $ajust;
    justify-content: $ajust;
    
}
@mixin ajustement-lign ($ajust) {
    display: flex;
    flex-direction: row;
    align-items: $ajust;
    justify-content: $ajust;
    
}

/** Animations */
/**Animations du loader */
@keyframes color1 {
    0%{
        color:darken($color: $color-secondary, $amount: 30);
    }
    25%{
        color:darken($color: $color-secondary, $amount: 20);
    }
    50%{
        color:darken($color: $color-secondary, $amount: 10);
    }
    100%{
        color:$color-secondary;
        transform: rotate(-20deg);
    }
    
}

@keyframes color2 {
    0%{
        color:darken($color: $color-third, $amount: 60);
    }
    25%{
        color:darken($color: $color-third, $amount: 50);
    }
    50%{
        color:darken($color: $color-third, $amount: 20);
    }
    100%{
        color:$color-third;
        transform: rotate(15deg);
    }
    
}
@keyframes color3 {
    0%{
        color:darken($color: $color-primary, $amount: 30);
    }
    25%{
        color:darken($color: $color-primary, $amount: 20);
    }
    50%{
        color:darken($color: $color-primary, $amount: 10);
    }
    100%{
        color:$color-primary;
        transform: rotate(-30deg);
    }
    
}
@keyframes loader {
    100%{
        transform: translateY(300px);
    }
    
}
/**Animations des coeurs */
@keyframes coeur {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 25;
    }
    50%{
        opacity: 50;
    }
    75%{
        opacity: 75;
    }
    100%{
        opacity: 100;
    }
}
/**Animations du menu */
@keyframes menu{

    0%{
        opacity: 0;
        position: relative;
        top: 10px;
    }
    50%{
        opacity:80;
        position: relative;
        top: 10px;
        transform: translateY(-20px)
    }
    100%{
        opacity:100;
        position: relative;
        top: 10px;
        transform: translateY(-20px)
    }
}
/**Animations de selection*/
@keyframes select{

    0%{
        opacity: 0;
        position: relative;
        right: -100px;
    }
    100%{
        opacity:100;
        position: relative;
        transform: translatex(-100px);
        right: -100px;
    }
}
//** Fonctions **/

/*Changement de couleur de texte en fonction du background*/

@function lightness-shift($colour){
    @if ( lightness($colour) < 25% ) {
    @return lighten($colour, 10%);
    }@else{
    @return darken($colour, 35%);
    }
    }

