body{ 
    margin: 0px;
    font-family: 'Roboto Flex';
    overflow: hidden visible;
    z-index: 0;

}
h1
{
    font-family: 'Roboto Flex';
    font-size: 180%;
    font-weight: 600;
    padding: 5px;
    margin: 10px;
}
h2
{
    font-family: 'Roboto Flex';
    font-size: 130%;
    font-weight: 200;
    padding: 10px;
    margin: 0px;
}
h3
{
    font-family: 'Shrikhand';
    font-size: 110%;
    padding: 5px;
    margin: 0px;
}
h4{
    font-family: 'Roboto Flex';
    font-weight: 400;
    padding: 5px;
    margin: 0px;
    font-size: 115%;
}
i
{
    font-size: 100%;
    padding: 5px;
    margin: 0px;
    width: 30px;
    display: flex;
    justify-content: center; /** NE PAS TOUCHER */
}
a:link 
{ 
 text-decoration:none; 
 color: inherit;
} 
#city-select{
    background-color: $grey-background;
    color: $dark-grey;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    padding: 13px;
    font-family: 'Roboto Flex';
    font-weight: 500;
    margin: 0px;
    font-size: 115%;
    border: none;
    appearance: none;
}
.coche
{
    display: none;
    transform-origin: right;
}
.menu_bloc_card:hover .coche
{
    animation: select 0.5s normal 1;
    background-color: $color-third;
    color: $grey-light;
    border-radius: 0px 20px 20px 0px;
    width: 20%;
    @include ajustement-column(center);
    font-size: 1.5rem;
    transform-origin: right;
        & i{
        animation: rotate 1s ease-in-out 0s 1 forwards;
        }
}

