footer
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px;
    padding: 20px;
        @include font-color ($dark-grey-font-color: true)
}
header
{
    @include ajustement-lign(center);
    padding: 10px;
        img{
            height: 4vh;
            margin: 5px;
            padding-top: 2px;
        }
        background-color: $grey-light;
}
.retour{
    font-size: 200%;
    width: 80px;
    margin-left: 10%;
    color: $dark-grey;
    position:absolute;
    left: 1vw;

}

button
{
    border: none;
    font: inherit;
}
.bouton
{
    background:$gradient-purple;
    color: $grey-light;
    width: 220px;
    height: 60px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    @include ombres;
        &2
        {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin:20px;
        }
        &2_chiffre
        {
            background-color: $color-primary;
            width: 25px;
            height: 25px;
            border-radius: 20px;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            color: $grey-light;
            font-size: 100%;
            font-weight: 400;
            position: relative;
            left: 15px;
        }
        &2_texte
        {
            background-color: $grey-light;
            width: 90%;
            height: 80px;
            border-radius: 20px;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            color: $dark-grey;
            font-size: 120%;
            font-weight: 400;
            @include ombres;
                &:hover{
                background-color: lighten($color-primary,35%);
                width: 90%;
                height: 80px;
                border-radius: 20px;
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
                font-size: 120%;
                font-weight: 400;
                @include ombres;
                    i{
                        color: $color-primary;
                    }
            }
        }
        &:hover
        {
            background: $light-gradient-purple;
            @include ombres-dark;
        }
}
/** Remplissage des coeurs */
.empty{
    font-size:30px;
    color: $dark-grey;
    position:absolute;
    z-index: 0;
}
.full{
    font-size:32px;
    background:transparent;
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position:absolute;
    z-index: 1;
    &:hover{
    font-size:32px;
    background:$gradient-purple;
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: coeur 1s ease-in 1;
    }
}
.empty2{
    font-size:34px;
    color: $dark-grey;
    position:absolute;
    top: 2vh;
}
.full2{
    font-size:35px;
    background:transparent;
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position:absolute;
    top: 2vh;
    &:hover{
    font-size:35px;
    background:$gradient-purple;
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: coeur 1s ease-in 1;
    }
}

/** Version Desktop */
@media (min-width: 1400px){
    .bouton2{
        width: 400px;
    }
    .bouton2_chiffre{
        width: 40px;
        height:40px;
    }
    header
    {
    @include ajustement-lign(center);
    padding: 10px;
        img{
            width:15vw;
            margin: 0px;
            padding-top: 2px;
        }
        background-color: $grey-light;
    }
    footer /**desktop**/
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/** Remplissage des coeurs desktop */
.empty{
    font-size:34px;
    color: $dark-grey;
    position:absolute;
}
.full{
    font-size:35px;
    background:transparent;
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position:absolute;
    &:hover{
    font-size:35px;
    background:$gradient-purple;
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: coeur 1s ease-in 1;
    }
}
/** Remplissage des coeurs desktop - pages menus */
.empty2{
    font-size:34px;
    color: $dark-grey;
    position:absolute;
    top: -3vh;
}
.full2{
    font-size:35px;
    background:transparent;
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position:absolute;
    top: -3vh;
    &:hover{
    font-size:35px;
    background:$gradient-purple;
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: coeur 1s ease-in 1;
    }
}
}
