footer
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px;
    padding: 20px;
        @include font-color ($dark-background-font-color: true)
}
header
{
    display: flex;
    justify-content: center;
    align-items: center;
        img{
            width:60%;
            margin: 10px;
        }
}
.retour{
    font-size: 250%;
    width: 80px;
    margin-left: 10%;
    color: $dark-background;
}
button
{
    border: none;
    font: inherit;
}
.bouton
{
    background:$gradient-purple;
    color: $grey-light;
    width: 220px;
    height: 60px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    @include ombres;
        &2
        {
            display: flex;
            flex-direction: inline;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin:20px;
        }
        &2_chiffre
        {
            background-color: $color-primary;
            width: 25px;
            height: 25px;
            border-radius: 20px;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            color: $grey-light;
            font-size: 100%;
            font-weight: 400;
            position: relative;
            left: 15px;
        }
        &2_texte
        {
            background-color: $grey-light;
            width: 90%;
            height: 80px;
            border-radius: 20px;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            color: $dark-background;
            font-size: 120%;
            font-weight: 400;
            @include ombres;
                &:hover{
                background-color: lighten($color-primary,35%);
                width: 90%;
                height: 80px;
                border-radius: 20px;
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
                font-size: 120%;
                font-weight: 400;
                @include ombres;
                    i{
                        color: $color-primary;
                    }
            }
        }
        &:hover
        {
            background: $light-gradient-purple;
            @include ombres-dark;
        }
}
/** Remplissage des coeurs */
.empty{
    font-size:30px;
    color: $dark-background
}
.full{
    font-size:32px;
    background:transparent;
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    left: -41px;
    top: -1px;
    &:hover{
    font-size:32px;
    background:$gradient-purple;
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: coeur 1s ease-in 1;
    }
}

/** Version Desktop */
@media (min-width: 1100px){
    .bouton2{
        width: 400px;
    }
    .bouton2_chiffre{
        width: 40px;
        height:40px;
    }
    header img{
            width: 30%;
        }
    footer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/** Remplissage des coeurs (version desktop) */
.empty{
    font-size:34px;
    color: $dark-background
}
.full{
    font-size:35px;
    background:transparent;
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    left: -41px;
    &:hover{
    font-size:35px;
    background:$gradient-purple;
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    left: -40px;
    animation: coeur 1s ease-in 1;
    }
}
}


