/** Page accueil */
.localisation
{
    background-color: $grey-background;
    color: $dark-background;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    padding: 13px;
    box-shadow: 1px 3px 3px 0px rgba(186, 181, 181, 0.784) inset;
    font-family: 'Roboto Flex';
    font-weight: 500;
    margin: 0px;
    font-size: 115%;
}
.intro
{
    background-color: $grey-light;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

}
.fonctionnement_header
{
    font-size: 100%;
    font-weight: 600;
    padding-left: 20px;
    padding-top: 10px;
    color:$dark-background;
}
.restaurants
{
    background-color: $grey-light;
    width: 100%;
        &_bloc{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            margin-top: 40px;
            padding-bottom: 30px;
         }
    
        &_header
        {
            font-size: 100%;
            font-weight: 600;
            padding-left: 20px;
            padding-top: 10px;
            color:$dark-background;
        }
}
.restaurants_carte
{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
    width: 85%;
    @include ombres;
        img {
            width: 100%;
            object-fit: cover;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            height: 170px;
            z-index: 0;
        };
        &_header
        {
            font-size: 130%;
            font-weight: 600;
            position:relative;
            top: -30px;
            padding-left: 10px;
            padding-top: 10px;
            color:$dark-background;
        }
        &_new
        {
            position:relative;
            top: -160px;
            right: -220px;
            background-color: $color-third;
            color: lightness-shift($color-third);
            width: 80px;
            padding: 5px;
            text-align: center;
            font-weight: 600;
            z-index: 1;
            border-radius: 2px;
                &--inactive
                {
                    position:relative;
                    top: -160px;
                    right: -220px;
                    background-color: none;
                    color: transparent;
                    width: 80px;
                    padding: 5px;
                    text-align: center;
                    font-weight: 600;
                    z-index: 1;
                    border-radius: 2px;
                }

        }
        &_lieu
        {
            color:$dark-background;
            padding-left: 10px;
            position:relative;
            top: -20px;
            font-size: 120%;
            font-weight: 300;
        }
        &_fav
        {
            color: black;
            font-size: 200%;
            font-weight: 100;
            position: relative;
            right: -90px;
            top: -10px;
        }
        &_bas
        {
            display: flex;
        }
        &_haut
        {
            display: flyex;
        }
}